---
// AQUI VAN LOS FORMULARIOS E INFORMACION ACERCA DE COMO PODER CONTACTARLOS
import Layout from '@layouts/layout.astro'
---

<Layout title="Contact us">
    <h1>Formulario de contacto</h1>
</Layout>