---
import Facebook from "src/assets/icons/Facebook.astro";
import XTwitter from "src/assets/icons/XTwitter.astro";
import Instagram from "src/assets/icons/Instagram.astro";
import Telegram from "src/assets/icons/Telegram.astro";
import FurAffinity from "src/assets/icons/FurAffinity.astro";
import TikTok from "src/assets/icons/TikTok.astro";
import Tumblr from "src/assets/icons/Tumblr.astro";
import BSky from "src/assets/icons/BSky.astro";
---

<footer>
    <div class="grid">
        <div>IDentiFUR&TRADE; 2014 - 2024 - All rights reserved. </div>
        <div>
            <h4>Follow us on social media</h4>
            <ul>
                <li><a href="https://x.com/identifur" target="_blank"><XTwitter /></a></li>
                <li><a href="https://bsky.app/profile/identifur.bsky.social" target="_blank"><BSky /></a></li>
                <li><a href="https://www.tiktok.com/@identifur" target="_blank"><TikTok /></a></li>
                <li><a href="https://www.tumblr.com/identifur" target="_blank"><Tumblr /></a></li>
                <li><a href="https://www.facebook.com/identifur" target="_blank"><Facebook /></a></li>
                <li><a href="https://www.instagram.com/identifur_" target="_blank"><Instagram /></a></li>
                <li><a href="https://t.me/identifur" target="_blank"><Telegram /></a></li>
                <li><a href="https://www.furaffinity.net/user/identifur" target="_blank"><FurAffinity /></a></li>
            </ul>
        </div>
    </div>
</footer>

<style>
    footer{
        padding: 1rem;
    }
</style>