---
import faq from "../../assets/images/faq.png";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Frequently Asked Questions">
  <main>
    <h1>Frequently Asked Questions</h1>
    <Image src={faq} width={1000} alt={"FAQ"} />
    <details>
      <summary>What is Identifur&TRADE;?</summary>
      <p>
        IDentiFUR&TRADE; is a website that is known for their "Fursonal ID™"
        which are customized novelty identification cards for the furry fandom!
        Sometimes we will also offer badges for conventions, but our main
        product is the Fursonal ID™.
      </p>
    </details>
    <details>
      <summary>What are your hours of business?</summary>
      <p>
        We are available Monday through Friday. Hours are ​​9AM CST to 4PM CST,
        however if we feel that we are getting a lot of traffic, we may do
        overtime to keep up with the demand, or put orders on HOLD until we can
        catch up. We have weekends & holidays off to recover from all the
        awesome artistic work we do during the week. We are not available if
        attending a convention.
      </p>
    </details>
    <details>
      <summary>How do i order my own ID?</summary>
      <p>
        Go to the "Order" page of our website and check out what's available.
        Make sure to READ OUR TERMS before ordering! It may take up to 1-3
        business days (Monday - Friday) for us to verify and place you on our
        queue list. You can find your order on our queue list when confirmed.
      </p>
    </details>
    <details>
      <summary>How long will my order take?</summary>
      <p>
        Once your order is submitted, it may take up to 4-9 weeks from the START
        DATE​ ( not the ORDER DATE ) that we announce on our social media pages,
        depending on how many orders we get for the month. This covers time to
        create the work (art wise), verify information/art is correct, print the
        product, package it and then ship the final product to your home! We
        work in bulk amounts and thus we expect a lot of orders to be sent out
        together to their destinations. We are two artists who hand-make these
        products, so patience is greatly appreciated.
      </p>
    </details>

    <details>
      <summary>WHERE DO I FIND MY ORDER IN THE QUEUE AFTER BUYING?</summary>
      <p>
        ​We have Trello for a list of what we're working on and where orders are
        in the queue! We are now taking orders in batches, that way we can focus
        on groups instead of one or two at a time. Click here to look at our
        queue and if we are open for more slots. NOTE: The Trello list will not
        be updated frequently and will be updated as necessary. Please do not
        contact IDentiFUR™ in regards to Trello updates.
      </p>
    </details>
    <details>
      <summary>Why is each id priced at their amount?</summary>
      <p>
        The cost is set for the use of supplies, artwork between two artists,
        time spend on work, and shipping costs. We have to take into account
        cost of ink, paper, PVC, lamination, etc. for each ordered badge or ID
        in production. Prices will vary and depend on how customized the buyer
        wants their ID to look, as the artists have to be commissioned to work
        on that choice. Not to mention you'll receive a very professional
        looking card with the option of re-ordering if you ever lose it!
      </p>
    </details>
    <details>
      <summary>Can I pay with money orders? checks? cash?</summary>
      <p>
        Currently the only form of payment we accept is PayPal as it is the most
        convenient for majority of our customers. You can use the buttons on our
        order page to order your IDs using PayPal and it's secure and simple.
      </p>
    </details>

    <details>
      <summary>Can I use my own image or artwork for the ID?</summary>
      <p>
        No, we do not allow use of other peoples art or images on our ID's.
        IDentiFUR™ prides itself in being able to supply every order with their
        very own custom artwork through our already pre-made poses. If you
        decide to select custom pose from our form menu, this means we will need
        a reference image of your idea so we can work with it in our style. All
        IDentiFUR™ artwork is created by our artists.
      </p>
    </details>
    <details>
      <summary>can i order a fursonal id™ for a friend as a gift?</summary>
      <p>
        At this moment we do not offer gifting forms to buy for friends.
        However, if you wish to do this, you may contact us for further
        information. We will do our best to work with you!
      </p>
    </details>
    <details>
      <summary
        >can i get prelim sketches of my portrait/image for my badge or id?</summary
      >
      <p>
        Yes and No. IDentiFUR's™ artists do not provide prelim sketches as it
        delays the work process and we are keen on getting details just right by
        the form descriptions. IDentiFUR™ will send a preview of the final
        Fursonal ID™ image before printing/shipping to verify everything is
        correct. We ask that you be sure of what you would like in the image for
        expression and the character you would like made in your order form.
        Just make sure everything is filled out and correct to your order and we
        should deliver your badge/ID with the image you requested.
      </p>
    </details>

    <details>
      <summary
        >can i ask that the design on a badge be changed? different title? etc?</summary
      >
      <p>
        We actually prefer customers not order badges/IDs in attempt to ask for
        a design change. We can only allow re-order of IDs for information
        changes, not artwork. Each product is designed how it is with ONLY the
        customization options we have listed and offered for that specific badge
        or ID.
      </p>
    </details>
    <details>
      <summary>i don't live in the USA, can i still order one?</summary>
      <p>
        IDentiFUR™ will ship Badges and Fursonal IDs™ to any fur located
        anywhere in the world! From Canada to Australia, if you're a furry and
        would like an ID, your more than welcome to order one! Keep in mind that
        additional charges will apply for international orders and each order
        has a shipping charge for delivery.
      </p>
    </details>
    <details>
      <summary>does identifur™ deliver at conventions?</summary>
      <p>
        If we are not a dealer at the convention you are attending, pick up will
        not be available. We only deliver at conventions we will have a dealer's
        table at and are offering it for that specific convention. If you are
        intending to get your badge at the convention we offer pick up, you will
        not need to pay for shipping. Convention pick-up is the ONLY way to
        guarantee your ID or badge to be ready for the con, we cannot guarantee
        shipped IDs or badges. However, you will need to pay for it to be
        shipped if you do not come and get your ID and/or badge for any reason
        (not able to attend, forgot to come by, etc).
      </p>
    </details>
    <details>
      <summary
        >Can you guarantee I get my badge/ID in time for a convention?</summary
      >
      <p>
        No.﻿ Unfortunately we can not guarantee your order will be done in time
        for any convention you may be attending. If we produce a specific
        convention themed badge, we do our best to make sure to finish them and
        ship them in time for the convention.
      </p>
    </details>
    <details>
      <summary>I lost/ate/destroyed my card, can I get a new one?</summary>
      <p>
        Yes, you can! However, there is a $20 charge plus shipping for
        re-ordering your badge/ID. Every order is saved and numbered in storage
        in case you ever require a new one sent out! All you have to do is go to
        our "Re-Order" page, fill out the form, pay the re-order fee, then we
        will get to replacing your badge promptly.
      </p>
    </details>
    <details>
      <summary>Do you offer refunds for any reasons?</summary>
      <p>
        IDentiFUR™ does not offer refunds once a Fursonal ID™ is purchased
        from us. Refunds are only accepted if we are not able to produce the
        item for some reason or another. If a customer should chargeback their
        item after it has been delivered, we will take action to remedy this
        issue if the buyer does not cooperate. Please check our T.O.S. for more
        information!
      </p>
    </details>
    <details>
      <summary
        >I received my order but my information is incorrect, what do I do?</summary
      >
      <p>
        If you happen to have a Fursonal ID™ that has been shipped with
        incorrect image/information, you will have to RE-ORDER the product and
        describe the fixes so that we can cover the cost of printing/shipping.
        Before printing, we ask that the buyer look over the Fursonal ID™ for
        mistakes and respond to us within 48 hours of receiving the preview
        through email. To ensure this runs smoothly, always give us an email
        that you use often. If there is no response, we will automatically ship
        your order under the assumption that everything is correct.
      </p>
    </details>

    <details>
      <summary>Can I be sent the digital file or artwork on my id?</summary>
      <p>
        All official artwork files created by IDentiFUR™ will remain with the
        company for reprinting and advertising purposes. Any files ( PNGS, JPGS,
        PSD ) will not be distributed or shared in those formats other than a
        printed ID. To learn more about this please read out TOS.
      </p>
    </details>
    <details>
      <summary>I CAN'T FIND MY ANSWER IN THIS FAQ, WHAT DO I DO?</summary>
      <p>
        ​Do you have a question that is not on our FAQ page? Need to contact us?
        Contact IDentiFUR!
      </p>
    </details>

    <details>
      <summary>Would I be able to make my own "fursonal ID™"?</summary>
      <p>
        The product name "Fursonal ID™" for any type of furry fandom ID product
        sold is strictly prohibited as it's copyrighted and trademarked by the
        artists of IDentiFUR™. Any reproduction, alteration, sale,
        distribution, or derivative work thereof that includes our trademark
        name will be deemed to be an infringement upon the trademarked products
        of ©IDentiFUR™ and will be reported to the appropriate channels for
        any and all civil and criminal penalties available under applicable law.
        Please see our DISCLAIMER on our T.O.S. page for legal reasons.
      </p>
    </details>
    <details>
      <summary
        >​I SEE YOU SHIPPED MY ORDER BUT IT'S BEEN A MONTH, WHERE IS IT?</summary
      >
      <p>
        IDentiFUR™ asks that all customers check our TRELLO for updates on when
        work is done and shipped or check our TELEGRAM news. If your order has
        not arrived two weeks after the shipment date, it is the customer's
        responsibility to contact IDentiFUR™ about their order. Let us know
        that your order has not arrived so we can remedy the situation ASAP. If
        a customer does not contact us within 2 months of our shipment date
        about their order, they will have to re-order their Fursonal ID™ using
        our RE-ORDER page.
      </p>
    </details>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    margin-top: 2rem;
  }

  details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  details summary {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
  }

  details p {
    padding: 0.5rem;
    margin: 0;
  }
</style>
